<div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">

                    <!-- 
                        NOVO CONTAINER DE POSICIONAMENTO.
                        É este div que vai controlar a posição do balão.
                        -->
                    <div class="avatar-posicionador">

                        <!-- Sua imagem de avatar -->
                        <img style="width: 18rem;" src="assets/avatares/avatar-inicio.webp" alt="Avatar">

                        <!-- O Balão de Fala -->
                        <div class="balao-fala">
                            <p>Olá! Pronto para testar seus conhecimentos?</p>
                        </div>

                    </div>

                </div>

                <div class="col">
                    <div class="row" style="margin-top: 2rem;">
                        <button class="inicia-jogo" mat-raised-button>
                            <mat-icon class="icon-roxo">sports_esports</mat-icon>
                            Iniciar Jogo
                        </button>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <button class="ver-ajuda" mat-raised-button>
                            <mat-icon class="icon-amarelo">tips_and_updates</mat-icon>
                            Ver Ajudas
                        </button>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <button class="ultimo-jogo" mat-raised-button>
                            <mat-icon class="icon-azul">history</mat-icon>
                            Último Jogo
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="margin-top: 25px;">
                    <!-- TABELA DE PREMIAÇÃO -->
                    <div class="tabela-premiacao-container">

                        <div class="tabela-header" style="font-size: xx-large">
                            <span>💰</span> Premiações
                        </div>

                        <div class="tabela-body">
                            <!-- O Loop vai gerar 10 linhas automaticamente -->
                            <div *ngFor="let premio of tabelaPremiacao" class="linha-premio" [ngClass]="{ 
                                'porto-seguro': premio.status === 'porto-seguro', 
                                'premio-maximo': premio.status === 'premio-maximo' 
                                }">

                                <span class="pergunta-numero">{{ premio.pergunta }}</span>
                                <span class="premio-valor">R$ {{ premio.valor }}</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color: blanchedalmond; border-radius: 12px; margin-bottom: 55rem;">
            <div style="text-align: center; margin-top: 1rem; font-size: xx-large; margin-bottom: 1rem; " >
                <span>🥇</span>Ranking
            </div>
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let jogador of rankingComMedalhas" [value]="jogador.nome">

                    <div class="list-item-container">
                        <span class="item-nome">{{ jogador.nome }}</span>
                        <span class="item-pontuacao">
                            R$ {{ jogador.pontuacao}}
                            <span class="medalha">{{ jogador.medalha }}</span>
                        </span>
                    </div>

                </mat-list-option>
            </mat-selection-list>
            <p> Option selected: {{shoes.selectedOptions.selected[0]?.value}} </p>
        </div>
    </div>
    <div>
    </div>
</div>