<div>
    <!-- <div style="display: flex; align-items: left; justify-content: space-around;">
        <div>
            avatar
        </div>
        <div>
            botões
        </div>
        <div>
            ranking
        </div>
    </div>
    <div>
        premiações
    </div> -->
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <img style="width: 18rem;" src="assets/avatares/avatar-inicio.webp" alt="">
                </div>
                <div class="col">
                    <div class="row" style="margin-top: 2rem;">
                        <button class="inicia-jogo" mat-raised-button>
                            <mat-icon class="icon-roxo">sports_esports</mat-icon>
                            Iniciar Jogo
                        </button>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <button class="ver-ajuda" mat-raised-button>
                            <mat-icon class="icon-amarelo">tips_and_updates</mat-icon>
                            Ver Ajudas
                        </button>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <button class="ultimo-jogo" mat-raised-button>
                            <mat-icon class="icon-azul">history</mat-icon>
                            Último Jogo
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    Premiações
                </div>
            </div>
        </div>
        <div class="col-md-4">
            Ranking
        </div>
    </div>
    <div>
    </div>
</div>